.comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__wrapper {
    display: flex;
    gap: 10px;
  }
  &__line {
    width: 3px;
    border-radius: 5px;
    background-color: #325E5A;
  }
  &__name {
    margin-bottom: 10px;
  }
  &__text {
    border: rgba(170, 171, 171, 0.6) solid 1px;
    border-radius: 5px;
    padding: 10px;
  }
  &__icons {
    cursor: pointer;
  }
}